{% extends 'style.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <img  src="{{dict.img.url}}" width="400" height ="500"><br>
        </div>
        <div class="col-md-4">
            <h1>{{dict.name}}</h1><br>
            <h5>{{dict.desc}}</h5><br>
            <h5>{{dict.year}}</h5>
            <a class="btn btn-secondary" href="{% url 'movie_app:update' dict.id %}">UPDATE</a>
            <a class="btn btn-danger" href="{% url 'movie_app:delete' dict.id %}">DELETE</a>
            <a class="btn btn-light" href="/">HOME</a>
        </div>
    </div>
</div>

{% endblock %}